<div class="mx-auto">
  <%= for {_, {date, calibrated, value}} <- @data do %>
      <div class="flex flex-row items-center justify-center">
        <p class="mx-2"><%= DateTime.to_string(date) %></p>
        <p class="mx-2"><%= calibrated %></p>
        <p class="mx-2"><%= value %></p>
      </div>
  <% end %>
</div>

