<div>
  <%= for {_, {date, calibrated, value}} <- @data do %>
      <div>
        <p><%= DateTime.to_string(date) %></p>
        <p><%= calibrated %></p>
        <p><%= value %></p>
      </div>
  <% end %>
</div>

